@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap'); 


@font-face{
    font-family:EBGaramond-Italic-VariableFont_wght;
    src: url(./fonts/EBGaramond-Italic-VariableFont_wght.ttf);
   }

*{
 padding:0;
 margin: 0;
 box-sizing: border-box;
}

header{
 width: 100%;
 background-color:black;
 padding-bottom: 150px;
 height: auto;
 clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 85%, 0 100%);
}

.navContainer {
 display: block;
 position: relative;
 height: 100px;
}

.navContainer h1{
 position: absolute;
 padding: 3px;
 float: left;
 margin-left: 2%;
 margin-top: 10px;
 color: white;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 2rem;
}

.navContainer ul {
 width: auto;
 float: right;
 margin-top: 8px;
}

.navContainer li{
 display: inline-block;
 padding: 15px 30px;
}

.navContainer a{
 text-align: center;
 color: white;
 text-decoration: none;
 font-size: 1.2rem;
}

.navContainer a:hover{
 color: grey;
 transition: 0.2s;
 border: 2px solid;
 border-radius: 20px;
 padding: 7px;
 text-decoration: none;
}

/*----------------------------Nav css ends here --------------------------------*/

.hero{
 /* padding: 3rem 0; */
 margin: 0;
 display: flex;
 flex-flow: row wrap;
 justify-content: center;
 align-items: center;
}

.left {
 padding-right: 100px;
}

.left img{
 max-width: 350px;
}

.right {
 color: white;
 align-items: center;
 max-width: 450px;
 padding: 3em 0;
}

.right span{
 color: rgb(233, 233, 33);
}

.right h6{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 1.5rem;
 border-left:6px solid yellow;
 border-spacing: 2rem;
 text-align: left;
}

.right h1{
 font-family: sans-serif;
 font-weight: bold;
 font-size: 3.5rem;
}

/*----------------------------hero css ends here-------------------------*/

section{
 padding: 3rem 0;
 
}
.container-ceo{
 margin-top: 10px;
 margin-left:10%;
 margin-right: 10%;
 padding: 2em;
 border: 5px solid;
 border-radius: 2px;
 text-decoration: none;

 display: flex;
 flex-flow: row wrap;
 flex-direction: row;
 justify-content: space-evenly;
 align-items: center;
}

.ceo-img img{
 width: auto;
 max-width: 350px;
}

.ceo-right {
 color: white;
 padding: 10px 15px;
 align-items: center;
 max-width: 400px;
 text-align: center;
}

.ceo-right h1{
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: 3rem;
 color: rgb(0, 0, 0);
 font-weight: bold;
}
.ceo-right h3{
 font-family: sans-serif;
 font-size: 1.2rem;
 color: black;
 font-weight: bolder;

} 

.ceo-right p{
 font-family: sans-serif;
 font-size: 1rem;
 color: black;
 font-weight: normal;
} 


/* MEDIA QUERIES */

@media only screen and (max-width: 560px) {
    .navContainer {
        height: auto;
    }
    .navContainer h1 {
        display: block;
        position: relative;
        float: none;
        margin: 0;
        padding: 10px 10px 0;
    }
    .navContainer ul {
        display: block;
        float: none;
        text-align: center;
    }
    .navContainer ul li {
        padding: 15px;
    }

    .left {
        padding: 0;
    }
    .right {
        max-width: 300px;
    }
    .right h1 {
        display: block;
        line-height: 0.5em;
        font-size: 50px;
    }
    .right h1 span {
        display: block;
        margin-left: 50px;
    }

}
@media only screen and (max-width: 470px) {

    .hero .right {
        padding-bottom: 0;
    }
    
    .ceo {
        padding: 0;
    }

    .container-ceo {
        margin-left: 5%;
        margin-right: 5%;
        padding: 10px 0;
    }

    .ceo-img img {
        max-width: 250px;
    }

    .ceo-right {
        width: auto;
        padding: 5px 12px;
    }
    .ceo-right h3, p {
        text-align: left;
    }


}